
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#//////////////////////////
# Cocos Creator 3D Project
#//////////////////////////
library/
temp/
assets/免费2D卡通UI素材包
assets/免费2D卡通UI素材包.meta
assets/塔防游戏资源
assets/塔防游戏资源.meta
settings/
preview-template/
.creator/
